{{ $.Scratch.Set "generalTitle" .Title }}
{{ if eq ($.Scratch.Get "generalTitle") "Blogs" }}
    {{ $.Scratch.Set "generalTitle" "Blog" }}
{{ end }}
{{ if and (.IsNode) (eq .Data.Plural "categories") }}
    {{ if ne .Data.Plural (lower .Title) }}
        {{ $.Scratch.Set "generalTitle" (i18n "title_posts" .) }}
        {{ $.Scratch.Add "generalTitle" " - " }}
    {{ else }}
        {{ $.Scratch.Add "generalTitle" " - " }}
    {{ end }}
{{ else }}
    {{ $.Scratch.Add "generalTitle" " - " }}
{{ end }}
{{ $.Scratch.Add "generalTitle" .Site.Title }}
