<!-- Header -->
<header id="header">
  <h1><a href="{{"/" | relLangURL }}">{{ .Site.Params.navbarTitle }}</a></h1>
    <nav class="links">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL | relLangURL }}">
                            <i class="{{ .Identifier }}">&nbsp;</i>{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            {{ if $.Scratch.Get "shareNav" }}
            <li id="share-nav" class="share-menu" style="display:none;">
		    <a class="fa-share-alt" href="#share-menu">{{ i18n "share" }}</a>
            </li>
            {{ end }}
            <li class="search">
		    <a class="fa-search" href="#search">{{ i18n "search" }}</a>
                <form id="search" method="get" action="//google.com/search">
			<input type="text" name="q" placeholder="{{ i18n "search" }}" />
                	<input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL }}">
                </form>
            </li>
            {{ if .Site.IsMultiLingual }}
            <li id="toggle-translation-menu">
                <a class="fa-language" href="#translations-menu">{{ i18n "translations" }}</a>
            </li>
            {{ end }}
            <li class="menu">
		    <a class="fa-bars" href="#menu">{{ i18n "menu" }}</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
        <section>
            <form class="search" method="get" action="//google.com/search">
		    <input type="text" name="q" placeholder="{{ i18n "search" }}" />
                <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">
            </form>
        </section>

    <!-- Links -->
        <section>
            <ul class="links">
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL | relLangURL }}">
                            <h3>
                                <i class="{{ .Identifier }}">&nbsp;</i>{{ .Name }}
                            </h3>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section>
        {{ if .Site.IsMultiLingual }}
          {{ $.Scratch.Set "menu" true }}
          {{ partial "translation-menu" . }}
        {{ end }}
    <!-- Recent Posts -->
        <section>
            <ul class="links">
                <header>
			<h3>{{ i18n "recent_posts" }}</h3>
                </header>
                {{ with .Site.Params.postAmount.sidebar }}
                    {{ $.Scratch.Set "postLimit" . }}
                {{ else }}
                    {{ $.Scratch.Set "postLimit" 5 }}
                {{ end }}

                {{ range first ($.Scratch.Get "postLimit") (where .Site.Pages "Type" "post") }}
                    <li>
                        <a href="{{ .Permalink }}"><p>{{ .Title }}</p></a>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- Actions -->
        <!--
        <section>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log In</a></li>
            </ul>
        </section>
        -->
</section>
{{ if .Site.IsMultiLingual }}
    {{ $.Scratch.Set "menu" false }}
    {{ partial "translation-menu" . }}
{{ end }}
