{{ with .Site.Params.piwik }}
  {{ if and .host .enabled }}
    {{ $SiteId := ( .site_id | default 1 )}}
    {{ if not ($.Scratch.Get "piwikScript") }}
      {{ $.Scratch.Set "piwikScript" true }}
      <!-- Piwik -->
      <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ .host }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ $SiteId }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
      </script>
    {{ else }}
     {{ if .track_nojs }}
      <noscript><p><img src="{{ .host }}/piwik.php?idsite={{ $SiteId }}&rec=1" style="border:0;" alt="" /></p></noscript>
     {{ end }}
      <!-- End Piwik Code -->
    {{ end }}
  {{ end }}
{{ end }}
