<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            {{ $pic := .Site.Params.pic }}
            {{ $alt := .Site.Title }}
            {{ with $pic.src }}
            <a href="{{ "/" | relLangURL }}" class="logo{{ with $pic.type }}-{{ . }}{{ end }}">
              <img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $alt }}" />
            </a>
            {{ end }}
            {{ with .Site.Params.intro }}
                <header>
                    <h2>{{ .header }}</h2>
                    <p>{{ .paragraph | safeHTML }}</p>
                </header>
            {{ end }}
            <ul class="icons">
                {{ if and (.RSSLink) (.Site.Params.rssAppearAtTop) }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtTop }}
                    {{ partial "social" .Site.Social }}
                {{ end }}
            </ul>
        </section>

    <!-- Posts List -->
        <section id="recent-posts">
            <ul class="posts">
                <header>
			<h3>{{ T "recent_posts" }}</h3>
		</header>
                {{ $.Scratch.Set "recentPosts" .Site.Pages }}

                {{ with .Site.Params.postAmount.sidebar }}
                    {{ $.Scratch.Set "postLimit" . }}
                {{ else }}
                    {{ $.Scratch.Set "postLimit" 5 }}
                {{ end }}

                {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
                    <li>
                        <article>
                            <header>
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                {{ $.Scratch.Set "dateType" .Date }}
                                <time class="published" datetime=
                                    '{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                                    {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}</time>
                            </header>
                        </article>
                    </li>
                {{ end }}

                {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
                    <li>
                        <ul class="actions">
                            <li><a href=
                            {{ with .Site.Params.viewMorePostLink }}
                                {{ . | relLangURL }}
                            {{ else }}
                                {{ "/post/" | relLangURL }}
                            {{ end }}
			    class="button">{{ i18n "view_more_posts" }}</a></li>
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- This if statement only applies if someone goes to the /categories url -->
    <!-- Otherwise this section is shown for all other links -->
    {{ if ne ($.Scratch.Get "showCategories") false }}

        {{ if .Site.Params.categoriesByCount }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
        {{ else }}
            {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
        {{ end }}
            {{ $CategoriesCount := ($.Scratch.Get "categories" | len) }}
        <!-- Categories List -->
        <section id="categories">
            <ul class="posts">
                <header>
			<h3><a href="{{ "/categories/" | relLangURL }}">{{ i18n "category" $CategoriesCount }}</a></h3>
                </header>


                {{ range $key, $value := $.Scratch.Get "categories" }}
                    <li>
                        <article>
                            <header>
                                <a href="{{ $.Site.LanguagePrefix }}/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                                <span style="float:right;">{{ $value.Count }}</span>
                            </header>
                        </article>
                    </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    <!-- About -->
        {{ with .Site.Params.about }}
        <section class="blurb">
		<h2>{{ i18n "about" }}</h2>
            <p>{{ .text | safeHTML }}</p>

            <ul class="actions">
            {{ with .url }}
		          <li><a href="{{ . | relLangURL }}" class="button">{{ i18n "learn_more" }}</a></li>
            {{ end }}
            </ul>
        </section>
        {{ end }}

    <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                {{ if and (.RSSLink) (.Site.Params.rssAppearAtBottom) }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtBottom }}
                    {{ partial "social" .Site.Social }}
                {{ end }}
            </ul>

	    <p class="copyright">{{ with .Site.Copyright | safeHTML }}{{ . }}{{ else }}&copy; {{ .Site.LastChange.Year }} {{if isset .Site.Params "author" }}{{ .Site.Params.author}}{{ else }}{{ .Site.Title }}{{ end }}{{end}}. {{ i18n "powered_by" }} <a href="//gohugo.io" target="_blank">Hugo</a></p>
        </section>

</section>
